<style scoped>
  .companyBox {
    display: flex;
    flex-wrap: wrap;
  }
  .company {
    width: 70px;
    height: 45px;
    background-color: lightsteelblue;
    margin: 2px;
    padding: 2px;
  }
</style>

<div>
  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
  {{ value }}

  <h1>Dashboard</h1>
  <div class="companyBox">
    <div class="company" *ngFor="let company of companies">
      <div>{{ company.name }}</div>
      <div>{{ company.stock }}</div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
